body{
    font-family: Montserrat;
}

content{
    width: 1200px;
    margin: 0 auto;
}

header{
    width: 100vw;
    height: 1012px;
    background: url("../img/header/section-1\(header\).jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
     margin-bottom: 10px;
}
.header-box{
    width: 100%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
    
}

.header-box-content{
    width: 1160px;
    height: 120px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}
.text-h{
    position: absolute;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 31px;
    margin-top: 18px;
    margin-left: 13.5px;
}
.img-header{
    position: relative;
}

.header-box-title h2{
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    font-weight: 400;
    margin-left: 6px;
}

.header-box-title-ham{
    font-size: 32px;
    line-height: 48px;
    color: #18CFAB;
    font-weight: 700;
    margin-right: 305px;
}

.header-links{
    margin-left: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.header-links:hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    line-height: 118px;
}

.header-svg-search{
    padding-left: 21px;
}

.header-content{
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    padding-top: 379px;
}

.header-content h4{
    font-weight: 700;
    font-size: 35px;
    line-height: 1px;
    color: #FFFFFF;
    padding-bottom: 81px;
}

.header-content-title{
    color:#18CFAB;
}

.header-content h2{
    font-size: 78px;
    line-height: 1px;
    font-weight: 700;
    color: #FFFFFF;
}

.header-content h5{
    padding-top: 81px;
    font-weight:400;
    font-size: 34px;
    line-height: 1px;
    color: #D4D4D4;
}

.header-button{
    width: 1160px;
    margin: 0 auto; 
    margin-top: 151px;
    text-align: center;
}

.button-green{
    width: 169px;
    height: 63px;
    background: #18CFAB;
    border-radius: 3px;
    border: none;
    border-top: 4px solid #FFFFFF;
}

.button-blue{
    margin-left: 26px;
    width: 169px;
    height: 63px;
    background: #00CBF6;;
    border-radius: 3px;
    border: none;
    border-top: 4px solid #FFFFFF;
}

.button-text{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 32px;
    font-weight: 700;
}

.content-container{
    display: flex;
    width: 1160px;
    margin: 0 auto;
}

.content-box-dark-green{
    width: 289px;
    height: 226px;
    background: #1C2A33;
}

.content-box-green{
    width: 289px;
    height: 226px;
    background:  #18CFAB;;
}

.content-box-green-img{
    padding-left: 100px;
    padding-top: 51px;
}

.content-box-dark-green-img{
    padding-left: 110px;
    padding-top: 51px;
}

.content-title-green{
    font-size: 12px;
    line-height: 14.5px;
    color: #18CFAB;
    font-weight: 700;
    margin-top: 26px;
    text-align: center;
}

.content-title-white{
    font-size: 12px;
    line-height: 14.5px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 46px;
    text-align: center;
}

.content-oue-services{
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    margin-top: 83px;
}

.content-oue-services h2{
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    font-weight: 400;
    margin-bottom: 20px;
}

.separator{
    width: 91px;
    height: 8px;
    background: url("../img/Style\ copy.svg") center;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: center;
  }

  .tabs-title {
    margin-top: 101px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 25px;
    padding-left: 25px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-size: 15.9859px;
    line-height: 39px;
    color: #717171;
    font-weight: 400;
  }

  .tabs-title:hover {
    border: 1.5px solid #18CFAB;
    cursor: default;
  }
  

  .tabs-content{
    margin-top: 23px;
  }

  .content-tabs-oue-services img{
    display: inline;
    margin-right: 15px;
}

.content-tabs-oue-services{
    height: 136px;
    text-align: left;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    font-weight: 300;
}

.tabs-active{
    margin-top: 101px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 25px;
    padding-left: 25px;
    background: #18CFAB;
    border: 1px solid #EDEFEF;
    font-size: 15.9859px;
    line-height: 39px;
    color: #717171;
    font-weight: 400;
}

  .content-everything-is-ready{
    width: 1160px;
    margin: 0 auto;
    margin-top: 91px;
    background: url("../img/Sectionsbackground/Layer\ 2.png")  center;
    height: 285px;
  }

  .content-everything-is-ready h2{
    padding-top: 76px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #18CFAB;
  }

  .content-everything-is-ready h5{
    text-align: center;
    padding-top: 7px;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    color: #D8D8D8;
  }

  .content-everything-is-ready button{
      margin-top: 40px;
      margin-left: 495px;
  }

  .content-our-amazing-work{
    background: #E9EDEF;
    width: 1160px;
    margin: 0 auto;
  }

  .content-our-amazing-work h2{
    padding-top: 96px;
    font-weight:400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    padding-bottom: 20px;
  }
 
  .tabs-our {
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
    cursor: default;
  }

  .tabs-title-our {
    margin-top: 71px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 15px;
    padding-left: 15px;
    background: rgba(0, 0, 0, 0.0001);;
    border: 1px solid #DADADA;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    font-weight: 400;
  }

  .tabs-title-our-all{
      padding-left: 28px;
      padding-right: 28px;
  }

  .tabs-title-our-active {
    border: 1.5px solid #18CFAB;
  }

  .photo-item-gallery {
    padding-left: 10px;
    justify-content: center;
    width: 1140px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
}

.photo-item {
    position: relative;
    width: 285px;
    height: 211px;
}

.photo-item:hover .photo-item-details {
    opacity: 1;
}

.photo-item:hover {
    border-top: 6px solid #18CFAB;
    box-sizing: border-box;
}

.photo-item-icon{
    margin-left: auto;
    padding-top: 40px;
}

.photo-item-title{
    text-align: center;
    padding-top: 25px;
    font-size: 14.1771px;
    line-height: 25px;
    color: #18CFAB;
    font-weight: 700;
}

.photo-item-description {
    text-align: center;
    padding-top: 15px;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
    font-weight: 300;
}

.photo-item-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: white;
    transition: all 0.7s;
}

.photo-item-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.photo-item-gallery-load-more{
    display: none;
}

.content-our-amazing-work-loader{
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-none{
    display: none;
    z-index: -1;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #18CFAB;
  font-size: 10px;
  margin: 40px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;

}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}


.button-load-more{
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    color: #FFFFFF;
    border: none;
}

.button-load-more-display-none{
    display: none;
}

.button-plus{
    padding-right: 16px;
}

.content-breaking-news{
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 128px;
}

.content-breaking-news h2{
    text-align: center;
    padding-top: 82px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    padding-bottom: 20px;
}

.content-breaking-news-grid{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 43px;
}

.content-photo-breaking-news{
    width: 263px;
    height: 208px;
    background: url("../img/BreakingNews/Layer\ 47.png");
    cursor: default;
}

.content-breaking-news-date{
    margin-left: 193px;
    background: #203E38;
    width: 70px;
    height: 68px;
}

.content-breaking-news-date p{
    text-align: center;
    padding-top: 6px;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 400;

}

.content-photo-breaking-news-title{
    margin-left: -50px;
    margin-top: 5px;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    font-weight: 700;
    
}

.content-breaking-news-link:hover .content-breaking-news-date{
    background: #18CFAB;
    cursor: default
}

.content-breaking-news-link:hover .content-photo-breaking-news-title{
    color: #18CFAB;
    cursor: default
}

.content-breaking-news-grid span{
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}

.content-breaking-news-by{
    margin-left: -55px;
}

.content-breaking-news-separator{
    background-color: #777777;
    margin-left: 6px;
    margin-right: 10px;
    display: inline;
}

.content-photo-breaking-news-bicycle{
    width: 263px;
    height: 208px;
    background: url("../img/BreakingNews/Layer\ 51.png");   
    cursor: default;
}

.content-photo-breaking-news-writer{
    width: 263px;
    height: 208px;
    background: url("../img/BreakingNews/Layer\ 52.png");   
    cursor: default;
}

.content-photo-breaking-news-pelican{
    width: 263px;
    height: 208px;
    background: url("../img/BreakingNews/Layer\ 53.png");   
    cursor: default;
}

.content-photo-breaking-news-athlete{
    width: 263px;
    height: 208px;
    background: url("../img/BreakingNews/Layer\ 54.png");  
    cursor: default;
}

.content-photo-breaking-news-fier{
    width: 263px;
    height: 208px;
    background: url("../img/BreakingNews/Layer\ 50\ \(1\).png");  
    cursor: default;
}

.content-photo-breaking-news-tourists{
    width: 263px;
    height: 208px;
    background: url("../img/BreakingNews/Layer\ 55.png"); 
    cursor: default;
}

.content-photo-breaking-news-work{
    width: 263px;
    height: 208px;
    background: url("../img/BreakingNews/Layer\ 56.png"); 
    cursor: default;
}

.content-what-people-say{
    width: 1160px;
    margin: 0 auto;
    height: 511px;
    background: url("../img/Sectionsbackground/section-3.jpg") center; 
}

.content-what-people-say h2{
    padding-top: 59px;
    text-align: center;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.content-what-people-say-img{
    margin-top: 27px;
    margin-left: 561px;
}

.content-tabs-oue-services img{
    display: inline;
}

.content-tabs-oue-services{
    margin-top: 23px;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
    font-weight: 300;
}

.content-what-people-say-slider{
    padding-left: 232px;
    width: 696px;
    height: 267px;
}

.slider-for{
    text-align: center;
}

.slider-for img{
    padding-top: 23px;
}
 
.slider-for p{
    padding-top: 21px;
    font-weight: 300;
    font-size: 9.6px;
    line-height: 18px;
    color: #BBBBBB;
}
.slider-for h3{
    padding-top: 22px;
    font-size: 9.6px;
    line-height: 16px;
    color: #18CFAB;
    font-weight: 300;
}

.slider-for h4{
    padding-top: 10px;
    font-weight: 300;
    font-size: 9.6px;
    line-height: 18px;
    color: #BBBBBB;
}


.slick-track{
    display: flex;
}

.slick-list{
    overflow: hidden;
}

.slider-nav .slick-slide{
    padding-top: 8px;
}

.slider-nav{
    padding-top: 10px;
    height: 44px;
    width: 252px;
    padding-left:232px;
    position: relative;
}

.slider-nav .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #BBBBBB;
}

.slider-nav .slick-arrow.slick-prev{
    top: 28px;
    left: 190px;
    background: url('../img/What\ People\ Say/Forma\ 1.svg') 0 0 no-repeat;
}

.slider-nav .slick-arrow.slick-next{
    top: 28px;
    right: -20px;
    background: url('../img/What\ People\ Say/Forma\ 2.svg') 0 0 no-repeat;
}

.slider-nav .slick-arrow.slick-prev:hover{
    background-color: #18CFAB;
}

.slider-nav .slick-arrow.slick-next:hover{
    background-color: #18CFAB;
}

.slider-nav .slick-slide.slick-current{
    padding-top: 0px;
}


.footer{
    margin: 0 auto;
    margin-top: 67px;
    height: 72px;
    width: 1160px;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    font-weight: 300;
    font-size: 8.4px;
    line-height: 15.6px;
    color: #AEAEAE;
}

.footer span{
    color: #18CFAB;
}